[Desktop Entry]
Type=Application
Name=BFME Installer
Comment=Set up Battle for Middle-earth on Linux
Exec=bfme-installer
Icon=com.jgbmichalski.BfmeInstaller
Terminal=false
Categories=Game;
StartupNotify=true
