[Desktop Entry]
Type=Application
Name=BFME Online Arena
Comment=Play Battle for Middle-earth online
Exec=bfme-installer --open arena
Icon=com.jgbmichalski.BfmeInstaller
Terminal=false
Categories=Game;
StartupNotify=true
